// Body
//
// 1. Remove the margin in all browsers.
// 2. Set an explicit initial text-align value so that we can later use
//    the `inherit` value on things like `<th>` elements.
// 3. As a best practice, apply a default `background-color`.
// 4. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
// 5. Change the default tap highlight to be completely transparent in iOS.
// body {
//   margin: 0; // 1
//   font-family: $font-family-base;
//   @include font-size($font-size-base);
//   font-weight: $font-weight-base;
//   line-height: $line-height-base;
//   color: $body-color;
//   text-align: left; // 2
//   background-color: $body-bg; // 3
//   -webkit-text-size-adjust: 100%; // 4
//   -webkit-tap-highlight-color: rgba($black, 0); // 5
// }

// Future-proof rule: in browsers that support :focus-visible, suppress the focus outline
// on elements that programmatically receive focus but wouldn't normally show a visible
// focus outline. In general, this would mean that the outline is only applied if the
// interaction that led to the element receiving programmatic focus was a keyboard interaction,
// or the browser has somehow determined that the user is primarily a keyboard user and/or
// wants focus outlines to always be presented.
//
// See https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible
// and https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

a:hover {
  text-decoration: none;
}

/* --------------------------------------------------------------
 * Extend
 * -------------------------------------------------------------- */
%vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

%no-padding-margin {
  padding: 0;
  margin: 0;
}

// Horizontal line hr with dots on both end
%hr-with-dot {
  background-color: $persian-green;
  width: 30%;
  margin: 0 auto;
  height: 1px;
  position: relative;

  &::before {
    @extend %green-circle;
  }

  &::after {
    @extend %green-circle-border;
  }
}

%green-circle {
  content: '';
  background-color: $persian-green !important;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

%green-circle-border {
  @extend %green-circle;

  border: solid 2px $white !important;
  box-shadow: 0 0 0 1px $persian-green;
  left: auto;
  right: 0;
}

// box shadow
%gray-box-shadow {
  box-shadow: -10px 9px 21px 0 rgba($shuttle-gray, 0.09);
}
