/*
* IE Fallback
*/
html.no-cssgrid {
  .floating_menu_container {
    display: none !important;
  }

  .subheader_menu_wrapper ul.menu {
    display: table;
    table-layout: fixed;
    width: 100%;

    li.menu-item {
      display: table-cell;
    }
  }

  .text_left,
  .text_right {
    .feature_box hr {
      top: 40px;
      right: 28%;
      left: auto;
    }

    &.text_bottom {
      .feature_box hr {
        top: auto;
        bottom: 300px;
        right: 28%;
        left: auto;
      }
    }

    .feature_box .feature_box_wrapper .desc_wrapper {
      left: auto;
      right: 50px;
    }
  }

  .Latest_news ul li {
    width: 31%;
    float: left;
  }

  #Footer .widget_nav_menu .menu-main-nav-container > ul > li {
    width: 32%;
    float: left;
  }
}
