/* --------------------------------------------------------------
 * Responsive Mixins
 * -------------------------------------------------------------- */

// Desktop Landscape
@mixin desktop-small-max {
  @media (max-width: map-get($grid-breakpoints, xl) - 1) {
    @content;
  }
}

// Tablet Landscape
@mixin tablet-landscape-max {
  @media (max-width: map-get($grid-breakpoints, lg) - 1) {
    @content;
  }
}

// Tablet Portrait
@mixin tablet-portrait-max {
  @media (max-width: map-get($grid-breakpoints, md) - 1) {
    @content;
  }
}

// Small mobile screen
@mixin mobile-max {
  @media (max-width: map-get($grid-breakpoints, sm) - 1) {
    @content;
  }
}

// Desktop
@mixin desktop-min {
  @media (min-width: map-get($grid-breakpoints, lg)) {
    @content;
  }
}

// Tablet Landscape
@mixin tablet-landscape-min {
  @media (min-width: map-get($grid-breakpoints, md)) {
    @content;
  }
}

// Tablet Portrait
@mixin tablet-portrait-min {
  @media (min-width: map-get($grid-breakpoints, xs)) {
    @content;
  }
}

/* --------------------------------------------------------------
 * Design Mixins
 * -------------------------------------------------------------- */

// Box Shadow
@mixin box-shadow($horiz: 0.5em, $vert: 0.5em, $blur: 0, $spread: 0, $color: $black, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $horiz $vert $blur $spread $color;
    box-shadow: inset $horiz $vert $blur $spread $color;
  }

  @else {
    -webkit-box-shadow: $horiz $vert $blur $spread $color;
    box-shadow: $horiz $vert $blur $spread $color;
  }
}

// Rounded Corners
@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
