/* --------------------------------------------------------------
 * Colors
 * -------------------------------------------------------------- */
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #eee;
$gray-300: #e6e6e6;
$gray-400: #d8d8d8;
$gray-500: #bdbdbd;
$gray-600: #7a7a7a;
$gray-700: #555;
$gray-800: #3d3d3d;
$gray-900: #252525;
$black: #000;

$gray-footer-bg: #f4f6f8;
$gray-gradient: #e5e5e5;

// Primary Colour Palette
$dark-green: #004e42;
$epra-green: #61bb46;

// Secondary Colour Palette
$rio-grande: #cedc00;
$persian-green: $epra-green; // tempurary change. original value: #00af9a
$tango: #e87722;
$cerise-red: #ec1c79;
$shuttle-gray: #63666a;

// Tertiary Colour Palette
$pacifika: #787121;
$pickled-bean: #603d20;
$texas-rose: #ffb25b;
$tawny-port: #6c1d45;
$edward: #b1b3b3;

/* --------------------------------------------------------------
 * Typogprahy
 * -------------------------------------------------------------- */

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Roboto", Arial, sans-serif;
$font-family-title:           "Roboto Slab", Arial, sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;
// stylelint-enable value-keyword-case

$font-size-base:              0.875rem; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25;
$font-size-sm:                $font-size-base * 0.875;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            600;
$font-weight-bolder:          bolder;

$line-height-base:            1.5;
$body-line-height:            $line-height-base;
$header-line-height:          $line-height-base * 0.8;

$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2.142;
$h3-font-size:                $font-size-base * 1.7;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.071;
$h6-font-size:                $font-size-base * 1;

/* --------------------------------------------------------------
 * Breakpoints
 * -------------------------------------------------------------- */
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 960px,
  xl: 1240px
);
