#Footer {
  background-color: $gray-footer-bg;
  padding: 30px 0 0;
  // @include box-shadow(0, 0.5em, 0.5em, 0, rgba($black, 0.07), true);

  &::before {
    content: '';
    display: block;
    width: 100%;
    // @include box-shadow(0.5em, 0.5em, 0.5em, 0.5em, $gray-400);
  }

  .footer_action {
    background-color: $gray-footer-bg;
  }

  .footer_copy {
    background: $gray-800;
    color: $gray-100;

    .one {
      margin-bottom: 10px;
      padding-top: 10px;
      min-height: 20px;

      .copyright {
        font-size: $font-size-sm;
      }
    }
  } // .footer_copy

  .widget_nav_menu ul {
    background-color: transparent;
    padding-left: 0;
    list-style-type: none;

    &.menu {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      -ms-grid-columns: repeat(6, 1fr);

      > li > a {
        font-weight: bold;
      }

      @include tablet-landscape-max {
        grid-template-columns: 1fr;
      }
    }

    li a {
      color: $black;
      font-size: 17px;
    }
  }
} // #Footer

/*
* Floating footer menu
*/
.floating_menu_container {
  z-index: 99;
  width: 100%;

  &:not(.sticky_btm) {
    margin-top: -60px;
  }

  ul.floating_menu {
    height: 60px;
    max-width: 875px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include box-shadow(0,0,1px,1px,rgba($gray-700,0.1));

    li {
      display: inline-block;
      width: 100%;
      font-size: 23px;
      font-family: $font-family-title;
      line-height: 50px;

      a,
      i {
        color: $white;
      }

      &:first-child {
        background-color: $persian-green;
        color: $white;
        position: relative;

        &::before {
          content: '';
          background-color: $white;
          height: 2px;
          width: 30px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &::after {
          content: '';
          position: absolute;
          left: 30px;
          top: 50%;
          transform: translateY(-50%);
          @extend %green-circle-border;
        }
      }

      &:last-child {
        background-color: $dark-green;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 0;
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent;
          border-left: 25px solid $persian-green;
        }
      } // &:last-child

      a {
        position: relative;
        display: block;
        padding: 5px 0 5px 115px;

        i {
          font-size: 2.9rem;
          position: absolute;
          left: 45px;
          top: 50%;
          transform: translateY(-50%);
        }
      } // a

      @include tablet-landscape-max {
        font-size: 16px;
      }
    } // li

    @include tablet-landscape-max {
      max-width: 700px;
    }
  } // .floating_menu

  @include tablet-landscape-max {
    padding: 0 !important;
  }

  @include tablet-portrait-max {
    display: none;
  }
} // .floating_menu_container

// helper for sticky menu
.sticky_btm {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
