body:not(.template-slider) #Header {
  min-height: auto;
}

#Header_wrapper {
  background-color: $white;

  // Action bar
  #Action_bar .contact_details {
    float: right;

    li {
      padding: 5px 0;

      a {
        display: block;
        width: 120px;
        color: $white;
        text-align: center;
      }
    } // Action bar li
  } // Action bar
}

#Top_bar {
  .logo {
    margin-left: 0;
  }

  #logo {
    padding: 10px 0 15px;
  }

  a#search_button {
    display: none;
  }

  // Hover menu
  .menu {
    .action_button > a {
      padding: 24px 0;

      & > span {
        display: inline-block;
        border-radius: 22px;
        background-color: $persian-green;
        color: $white;
        padding: 0 40px !important;
        line-height: 42px !important;
      }
    }

    & > li > a span {
      border: none !important;
    }

    & > li > ul {
      @extend %gray-box-shadow;

      background-color: $white;
      top: 75%;

      li {
        &.current-menu-item a {
          background-color: $persian-green !important;
          color: $white;
        }

        a {
          border: none;

          &:hover {
            background-color: $persian-green;
            color: $white;
          }

          span {
            display: inline;
          }
        }
      }
    }

    .language a span {
      position: relative;
      margin-left: 20px;

      &::before {
        content: "";
        width: 100%;
        height: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid 3px $persian-green;
        border-radius: 22px;
      }
    }
  } //.menu > li > ul // hover menu

  &.is-sticky {
    .menu {
      .action_button > a {
        padding: 9px 0 !important;
      }
    }
  }

  .top_bar_right {
    padding: 0;

    .top_bar_right_wrapper {
      & > * {
        display: inline-block;
        margin-right: 20px;
        border-radius: 22px;
      }

      .action_button {
        background-color: $persian-green;
        color: $white;
        padding: 10px 40px;
        top: 0;
      }

      span {
        color: $persian-green;
        margin-right: 0;
      }
    } // .top_bar_right_wrapper
  } // .top_bar_right
} // #Top_bar

// Province select
.province_select_wrapper {
  position: relative;

  select {
    width: 100px;
    border-radius: 22px;
    border: solid 3px $persian-green;
    padding: 8px 20px 8px 10px;
    margin-bottom: 0;
  }

  i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 99;
  }
}

// Subheader menu
.subheader_menu_wrapper {
  background-color: $white;
  color: $black;
  box-shadow: inset 0 1px 3px 0 rgba($black, 0.1);

  ul.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

    li.current_page_item {
      &::after {
        content: '';
        width: 100%;
        height: 4px;
        background-color: $persian-green;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      a {
        font-weight: 500;
      }
    } // li.current_page_item

    li.menu-item {
      text-align: center;
      position: relative;
      padding: 20px 0;

      a {
        color: $black;
        font-size: 17px;
      }

      &:not(.current_page_item) a:hover {
        color: $persian-green;
        text-decoration: none;
      }
    } //li.menu-item
  } // ul.menu

  @include tablet-landscape-max {
    display: none;
  }
} // .subheader_menu

/*
* Mobile Menu
*/
#Side_slide {
  background-color: $persian-green;

  a:not(.action_button) {
    color: $white;
  }

  a.action_button {
    color: $black;
    border-radius: 22px;
  }

  .close-wrapper a.close {
    margin-right: 5px;
  }

  #menu > ul {
    > li {
      border: none;

      > a {
        font-family: $font-family-title;
      }
    }

    li.submenu .menu-toggle {
      color: $white;
      opacity: 1;

      &::after {
        content: '\e867';
        font-family: "mfn-icons", sans-serif;
      }
    }

    li ul.sub-menu {
      background-color: transparent;

      li {
        border-top: none;
      }
    }
  } // #menu > ul

  .extras {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
  }
} // #Side_slide
