#Content {
  position: relative;
  // padding-bottom: 70px;
  // background: linear-gradient(158.61deg, $gray-gradient 0%, $white 100%);
  background-color: $gray-gradient;
  overflow: hidden;
  z-index: 1;

  #circuitboard {
    float: left;

    svg {
      position: absolute;
      max-width: 50%;
      min-width: 400px;
      top: 0;
      z-index: 0;
      -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(50%, rgba(0, 0, 0, 0)));
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%);
    }
  }

  .sections_group {
    position: relative;
    z-index: 1;
  }

  @include tablet-portrait-max {
    padding-bottom: 0 !important;
  }
}

h1.page_title,
h2.page_title {
  font-weight: $font-weight-bold;
  text-align: center;

  span {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-normal;
    color: $persian-green;
  }
}

.fancy_heading .inside {
  color: $black;
  font-size: 25px;
  line-height: 33px;
  width: 85%;
  margin: 0 auto;
  font-weight: $font-weight-light;
}

.featured_image {
  text-align: center;
  position: relative;
  z-index: 9;
}

/*
*  Home page
*/
.home {
  // #
  #Content {
    padding-top: 0;
  }

  .fancy_heading {
    padding: 75px 0 45px;

    h1,
    .inside {
      color: $white;
      max-width: 55%;
      margin: 0 auto 30px;
      font-weight: 600;

      @include tablet-landscape-max {
        max-width: 100%;
      }
    }
  }

  // 4 icon_box on home page
  .icon_box a {
    @extend %gray-box-shadow;

    background-color: $gray-100;
    min-height: 470px;

    &:hover {
      @extend %icon_box_active;
    }

    &.active {
      @extend %icon_box_active;
    }

    .image_wrapper {
      margin: 0;
    }

    .desc_wrapper {
      padding: 25px;

      h5 {
        font-size: 22px;
        font-family: $font-family-title;
      }
    }
  } //.icon_box
}

%icon_box_active {
  padding: 0;
  background-color: $persian-green;
  transition: all 0.3s;

  .title,
  .desc {
    color: $white;
  }
}

.page:not(.home) .entry-content .section:not(.full-width, .no-padding, .dark) .section_wrapper .wrap {
  background-color: $white;
  padding: 10px 45px 0;

  .column_fancy_heading {
    margin-bottom: 0;
  }

  .column_divider hr {
    @extend %hr-with-dot;

    width: 130px;
    margin: 30px 0;
    background-color: $persian-green;

    &.margin-20 {
      margin: 10px 0;
    }

    &.margin-30 {
      margin: 15px 0;
    }

    &.margin-40 {
      margin: 20px 0;
    }

    &.margin-50 {
      margin: 25px 0;
    }
  }
}

.program_content_box {
  background: $persian-green;
  // background: radial-gradient(circle, $persian-green 0%, darken($persian-green, 5%) 100%);

  .wrap {
    padding: 70px 0 !important;
    position: relative;
    // background: $persian-green;
    // background: radial-gradient(circle, $persian-green 0%, darken($persian-green, 5%) 100%);

    @include tablet-landscape-max {
      padding: 20px;
    }
  }

  .blockquote {
    position: relative;
    padding: 50px;
    margin: 0;

    blockquote {
      background: none;
      text-align: center;
      font-size: 36px;
      line-height: 40px;
      color: $white;
      max-width: 550px;
      padding: 100px 0;
      margin: 0 auto;

      &::after {
        display: none;
      }
    }
  } // .blockquote

  .infobox {
    @extend %gray-box-shadow;

    background-color: $white;

    h3 {
      color: $black !important;
      font-weight: $font-weight-bold;
      position: relative;
      margin-bottom: 30px;
      padding-bottom: 30px;
      width: 60px;
      border-bottom: solid 1px $persian-green;

      &::before {
        @extend %green-circle;

        top: auto;
        bottom: -10px;
      }

      &::after {
        @extend %green-circle-border;

        top: auto;
        bottom: -15px;
      }
    }

    .infobox_wrapper {
      color: $black;
      min-height: 150px;

      ul {
        color: $black !important;

        li {
          padding-left: 20px;

          &::before {
            content: "\2022";
            color: $persian-green;
          }
        }
      }
    } // .infobox_wrapper
  } // .infobox

  .story_box {
    padding: 0;

    .desc_wrapper h3 {
      margin: 0;
      background-color: $persian-green;
      padding: 50px 65px;
      color: $white;
    }

    hr {
      display: none;
    }
  } // .story_box
} // .program_content_box

.search-results {
  .column_blog {
    background: $white;
    padding: 15px 30px 0;
    margin-bottom: 0;
  }
}

.error404 {
  #Content {
    height: calc(100vh - 90px);

    .content_wrapper:not(#circuitboard) {
      top: 45%;
      transform: translateY(-50%);
      position: relative;

      .error_pic {
        svg {
          max-width: 50%;
        }
      }

      .error_desk,
      .error_pic {
        text-align: center;
      }
    }
  }
}

/*
* Helper
*/
.text_align_left * {
  text-align: left;
}

.infobox ul li::after,
.get_in_touch ul li::after {
  display: none;
}

/*
* Responsive
*/
@include tablet-landscape-max {
  .section_wrapper,
  .container,
  .four.columns .widget-area {
    padding: 0 15px !important;
  }
}
