/*
* Post/Blog/News archive page
*/

.date {
  color: $gray-600 !important;
  background-color: $gray-200;
  padding: 5px 12px;

  i {
    display: none !important;
  }
}

.single-post h2 {
  padding-left: 20px;
  float: none;
}

.blog,
.archive {
  h1 {
    padding-left: 20px;
    float: none;
  }

  #Filters {
    background-color: $white;
    margin-bottom: 0;

    ul.filters_buttons {
      background-image: none;
      padding: 15px 55px;

      li {
        a {
          font-weight: 100;
          color: $gray-600;

          &.close {
            color: $gray-600;
            display: block;
            padding-right: 30px;
            position: relative;

            @include tablet-landscape-max {
              padding-right: 0;
              margin-right: 15px;
            }
          }

          @include tablet-landscape-max {
            display: block;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 8px;
            border: solid 1px $gray-600;
          }
        } // ul.filters_buttons li a

        i:not(.icon-down-dir) {
          display: none;
        }

        i.icon-cancel {
          color: $gray-600;
          font-weight: 400;
          text-align: center;
          display: block;
          border: solid 2px $gray-600;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          position: absolute;
          right: 0;
          top: -3px;
        }

        @include tablet-landscape-max {
          float: none;

          &.reset {
            border: none;

            i {
              display: none;
            }
          }
        }
      } // ul.filters_buttons li

      .label {
        color: $persian-green;
      }

      .open {
        color: $gray-600;
      }

      .close {
        color: $persian-green;
      }

      @include tablet-landscape-max {
        padding: 15px;
      }
    } // .filters_buttons

    .filters_wrapper {
      padding: 0 55px;
      margin: 0 auto 20px;

      li > *:hover {
        background-color: $persian-green;
      }

      @include tablet-landscape-max {
        padding: 15px;
      }
    } // .filters_wrapper
  } // #filters

  .column_blog {
    margin-bottom: 0;
  }

  .blog_wrapper {
    background-color: $white;

    // pagination
    .pager_wrapper {
      .prev_page,
      .next_page {
        color: $black;
        font-weight: 500;

        i::before {
          border: solid 2px $black;
          border-radius: 50%;
          display: inline-block;
          margin: 0 10px;
          font-weight: 400;
        }
      }

      .pages {
        background: none;

        a {
          font-size: 20px;
          font-weight: normal;
          color: $black;

          &.active {
            background-color: transparent;
            color: $persian-green;
          }

          &:hover {
            background-color: transparent;
            color: $persian-green;
          }
        }
      }
    }

    // Green circle decoration for timeline
    .timeline .post-item {
      background: none;

      &::before {
        @extend %green-circle-border;

        left: 180px;
        top: 0;
        right: auto;
        transform: none;
        background-color: transparent;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .date_label {
        background-image: none;
        left: 55px;
        padding: 5px 15px;
        border-radius: 0;

        &::after {
          display: none;
        }
      }

      .image_frame {
        border: none;
      }

      .post-desc-wrapper {
        &::before {
          content: '';
          width: 1px;
          height: 85%;
          position: absolute;
          left: 186px;
          top: 12px;
          background-color: $persian-green;

          @include tablet-portrait-max {
            display: none;
          }
        }

        .post-desc {
          padding: 0 55px 0 20px;

          .post-title h2 {
            font-size: 20px;
            font-weight: 500;
          }

          .post-footer {
            background: transparent;
            padding-left: 0;

            .post-links {
              float: none;
              border: none;
              padding-left: 0;

              i {
                display: none;
              }

              .post-more {
                color: $persian-green;
              }
            }
          }// .post-footer
        } // .post-desc
      } //.post-desc-wrapper
    }// .timeline .post-item
  }
}

/********************
*  Home Blog/News List
*********************/
.home .column_blog_news .Latest_news ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 50px;

  .photo {
    display: none;
  }

  .desc {
    margin-left: 0;
    padding: 0;
    width: 95%;

    .desc_footer {
      border: none;
    }
  }

  @include tablet-landscape-max {
    padding-left: 0;
  }

  @include tablet-portrait-max {
    grid-template-columns: 1fr;
  }
}

/********************
*  Blog Post Single page
*********************/
.single-post {
  .sections_group {
    .post {
      background-color: $white;
      padding: 0 40px;

      &.no-img {
        .single-photo-wrapper {
          display: none;
        }
      }

      .breadcrumbs {
        padding: 15px;
      }

      h1 {
        padding-top: 15px;
      }

      .image_frame {
        border: none;
      }
    }
  }
}

.sidebar {
  .widget-area {
    border: none;
    margin-left: 5px;

    &::before {
      background-color: $white;
    }

    .widget {
      padding-bottom: 0;

      &::after {
        display: none;
      }
    }

    h3 {
      font-weight: 400;
    }
  }

  .Recent_posts {
    ul {
      & > li {
        & > a {
          display: grid;
          grid-template-columns: 1fr 2fr;

          &:hover {
            .date {
              color: $gray-600 !important;
            }
          }

          .photo {
            float: none;

            span {
              display: none;
            }

            @include tablet-landscape-max {
              display: none;
            }
          } // .photo

          .desc {
            position: relative;
            margin-right: 0;

            h6 {
              border: none;
            }

            @include tablet-landscape-max {
              width: 100%;
              padding: 0 10px 0 0;
            }
          } // .desc

          @include tablet-landscape-max {
            grid-template-columns: 1fr;
          }
        } // ul li a

        &.no-img {
          & > a {
            grid-template-columns: 1fr;

            .photo {
              display: none;
            }

            .desc {
              padding-left: 0;
              padding-bottom: 10px;

              &:hover {
                padding-left: 15px;
              }
            }
          }
        }
      }
    }
  } // .Recent_posts

  .widget_categories ul {
    background-color: $persian-green;
    list-style: none;

    li:not(:last-child) {
      &::before {
        content: "";
        @extend %green-circle-border;

        background-color: $white !important;
        border-color: $persian-green !important;
        box-shadow: 0 0 0 1px #fff;
        left: calc(90% - 30px);
        top: auto;
        bottom: -13px;
      }

      &::after {
        width: 90%;
        border-color: $white;
      }
    }
  } // .widget_categories ul
}
