.dropoff_select_container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.7);

  .dropoff_select_box {
    max-width: 500px;
    background-color: $white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 0 0 30px;

    @include tablet-landscape-max {
      width: 80%;
    }

    .dropoff_select_title {
      position: relative;
      text-align: center;
      padding: 15px 75px;
      font-weight: bold;
      font-size: $font-size-lg;

      @include tablet-landscape-max {
        padding: 15px 0;
      }

      .dropoff_select_close {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 9999;
      }
    }

    .dropoff_select_wrap {
      position: relative;
      margin: 30px auto;
      max-width: 230px;

      i {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 999;
      }

      p.warning {
        display: none;
        color: $tawny-port;
      }
    }

    .dropoff_select_btn {
      display: block;
      margin: 0 auto;
      font-size: 1em;
    } //.dropoff_select_btn
  } //.dropoff_select_box
} //.dropoff_select_wrap
