#sprite-circuitboard {
  path,
  circle,
  polygon {
    &.a {
      fill: $white;
    }

    &.b {
      fill: $persian-green !important;
    }
  }
}

iframe {
  &.wp-embedded-content {
    width: 100%;
  }
}

/*
* breadcrumbs
*/
.breadcrumbs {
  padding: 15px 55px;
  background-color: $white;

  li {
    display: inline-block;

    a {
      color: $black;
      font-weight: 100;
    }

    &:last-child a {
      color: $persian-green;
    }
  }

  @include tablet-landscape-max {
    padding: 15px;
  }
} // .breadcrumbs

/*
* icon box
*/
.left_align .icon_box .desc_wrapper {
  text-align: left;
}

/*
*  Helper
*/
.left_align_text {
  text-align: left !important;
  margin: 10px 45px 45px;
}

.hr_center hr {
  margin: 15px auto !important;
}

.center_align_text {
  text-align: center !important;
}

.white_font * {
  color: $white !important;
}

ul.list_check li::after {
  display: none;
}
