// Feature Box for home page
.text_left,
.text_right,
.text_top,
.text_bottom {
  .feature_box .feature_box_wrapper .desc_wrapper {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
  }
}

.feature_box {
  position: relative;

  hr {
    @extend %hr-with-dot;

    width: 150px;
    position: absolute;
    top: 100px;
    z-index: 9;
    overflow: visible;

    @include tablet-landscape-max {
      display: none;
    }
  }

  .feature_box_wrapper {
    padding: 0;
    display: grid;
    margin-bottom: 60px;

    .photo_wrapper {
      width: 70%;
      margin-left: 0;
      margin-right: auto;
      @include tablet-landscape-max {
        position: relative;
        padding: 15px !important;
        width: calc(100% - 30px) !important;
        margin-bottom: 0;
        background-color: $white;
      }
    }

    .desc_wrapper {
      @extend %gray-box-shadow;

      background-color: $white;
      width: 280px;
      min-height: 230px;
      padding: 65px 43px;
      position: absolute;
      top: 35px;

      @include tablet-landscape-max {
        position: relative;
        padding: 0 15px !important;
        width: calc(100% - 30px) !important;
        right: auto !important;
      }
    } //.desc_wrapper
  } // .feature_box_wrapper
} // .feature_box

/*
* Helper class for text wrapper position
* Add class name without . to Feature Box items in the WP BeTheme editor.
* Possible combination:
* 1) text_left text_top
* 2) text_right text_bottom
* 3) text_left text_top
* 4) text_right text_bottom
* 5) text_left (default text middle)
* 6) text_right (default text middle)
*/
// Determine text wrapper left or right
.text_left {
  .feature_box {
    hr {
      left: 28%;
    }

    .feature_box_wrapper {
      .desc_wrapper {
        right: calc(70% - 40px);
      }

      .photo_wrapper {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
} // .text_left

.text_right {
  .feature_box {
    hr {
      left: auto;
      right: 400px;
    }

    .feature_box_wrapper {
      .photo_wrapper {
        width: 75%;
      }

      .desc_wrapper {
        left: auto;
        right: 5%;
      }
    }
  }
}

// Determie text wrapper vertically
// Note: text top is by default to not specified
.text_top {
  .feature_box {
    hr {
      top: 75px;
    }

    .feature_box_wrapper {
      .desc_wrapper {
        top: 0;
      }
    }
  }
}

.text_bottom {
  .feature_box {
    hr {
      top: auto;
      bottom: 250px;
    }

    .feature_box_wrapper {
      .desc_wrapper {
        top: auto;
        bottom: -30px;
      }
    }
  }
}
