dl {
  > dt {
    width: 150px;
  }

  > dd {
    margin-left: 160px;
  }
}

.column_icon_box {
  &.normal-weight {
    .title {
      font-weight: 400;
    }
  }

  .icon_box {
    .desc_wrapper {
      text-align: left;
    }
  }
}

/*
* Video loop
*/
.loop_video_container {
  text-align: center;

  video {
    display: none;
  }
}

/*
* Video box
*/
.video_popup {
  .image_frame {
    .image_wrapper {
      .image_links {
        display: block;
        background-color: transparent;
        height: 100%;
        bottom: 0;

        .zoom {
          width: 100%;
          height: 100%;
          float: none;

          &:hover {
            background-color: transparent;
          }

          .icon-search {
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 7rem;

            &::before {
              content: '\e8f9';
            }
          }
        }

        .link {
          display: none;
        }
      }
    }
  }
}

// divider with circles on each end
.divider {
  margin-bottom: 50px;

  .mcb-wrap-inner {
    @extend %hr-with-dot;
  }
}

@include tablet-landscape-max {
  .divider {
    margin-bottom: 25px !important;
  }
}

/*
  Google Map contact box
*/
.google-map-contact-wrapper {
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: 35%;
  background-color: $white;

  .get_in_touch {
    display: table-cell;
    vertical-align: middle;
    background-color: $white;
    width: auto;
    padding: 50px;

    h3 {
      color: $black !important;
      font-weight: 500;

      @include tablet-landscape-max {
        font-size: 20px;
        line-height: 25px;
      }
    }

    ul {
      color: $black !important;

      li {
        padding: 0;
      }

      .icon {
        display: none;
      }

      .address_wrapper {
        font-size: 18px;
        line-height: 25px;
      }
    }
  } // .get_in_touch

  @include tablet-portrait-max {
    width: 100%;
  }
} // .google-map-contact-wrapper

/*
* Gravity Form
*/
.gform_wrapper {
  &.gf_browser_gecko {
    form {
      select {
        padding: 8px;
      }
    }
  }

  form {
    input {
      margin-bottom: 5px;

      &[type="text"],
      &[type="tel"] {
        margin-bottom: 0;
      }

      &[type="submit"] {
        padding: 10px 30px;
        background-color: $persian-green;
        color: $gray-100;
        border-radius: 22px;

        &:hover {
          background-color: $gray-900;
          color: $gray-100;
        }
      }

      &:not([type="radio"],[type="checkbox"],[type="submit"],[type="button"],[type="image"],[type="file"]) {
        padding: 10px !important;
      }
    }

    label {
      margin: 0.1em 0 0.1em;
    }

    ul {
      li {
        &.gfield {
          margin: 0 0 5px !important;
        }

        &.hidden_label {
          input {
            margin-top: unset;
          }
        }
      }
    }

    .field_description_below .gfield_description {
      padding-top: 5px !important;
    }

    .gform_footer {
      padding: unset;
    }
  }
}

.dark {
  .gform_wrapper {
    form {
      input {
        &[type="submit"] {
          padding: 10px 30px;
          background-color: $gray-100;
          color: $gray-900;
          border-radius: 22px;

          &:hover {
            background-color: $gray-900;
            color: $gray-100;
          }
        }
      }
    }
  }
}

/* form */
input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  border-width: 1px;
  border-radius: 3px;
  margin-bottom: 0;
}

.promo_box,
.feature_box {
  ul:not(.list_check) {
    list-style: disc outside;
    margin: 0 0 15px 30px;
  }
}

.alert {
  &.alert_success {
    background: $persian-green;
  }
}

/* Team */
.team .image_frame {
  border: none;
}
