.rotate_element {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 500px;
  margin: 0 auto;
}

.rotate_image,
.rotate_shadow {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.rotate_shadow {
  z-index: -1;
}

.rotate_shadow > img,
.rotate_image > img {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.rotate_shadow > img,
.rotate_image > img:nth-child(2) {
  display: block;
}

.rotate_-height-blk {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  margin: 0;
}

.rotate_image > .rotate_-height-blk {
  padding: 0 0 100% 0;
}

.rotate_shadow > .rotate_-height-blk {
  padding: 0 0 10% 0;
}
